*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

  /* ==================== NAVIGATION ==================== */
 header{
    width: 100%;
    position: fixed;
    background-color: #291603;
    top: 0;
    height: 70px;
    z-index: 1000;
}
nav {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #291603;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 70px;
    
} 

nav ul {
    list-style: none;
     display: flex;
     gap: 3rem;
     margin: 0;
     padding: 0;
  
}

        nav ul li a {
            color: #FFFFFF;
            text-decoration: none;
            font-size: 15px;
            letter-spacing: 1px;
            font-family:'Arial Narrow', Arial, sans-serif;
        }
    nav ul li a:hover{
     color: rgb(223, 103, 60);
     
    }
label{
    color:#FFFFFF;
    display: none;
}
label::before{
content: "\2630";
font-size: 25px;
cursor: pointer;
position: absolute;
right: 1rem;
top: 0.5rem;
}
input[type="checkbox"] {
    display: none;
}
  /* ==================== accueil ==================== */
  #accueil {
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    background-image: linear-gradient(140deg,
    #7B542F 13%,
    #8D5F29 31%,
    #B6771D 53%,
    #FFCF71 94%,
    #FFCF71 94%);
    
  }


  .hero-content .hero-img img{
    width: 126.43px;
    height: 137.42px;
   border: 5px solid white ;
   border-radius: 70%;
   display: block;
   margin:0 auto; 
   margin-top: 100px;
   margin-bottom: 2rem;
  }
  .hero-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    color: #FFFFFF;
     font-family: 'Arial Narrow', Arial, sans-serif;
     line-height: 1.65rem;
     
     }
    .hero-buttons {
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        

    }
    .hero-buttons a {
        background-color: rgba(255, 255, 255,0.20);
        display: inline-block;
        padding: 0.6rem 1.5rem;
        border: 2px solid #FFFFFF;
        border-radius: 30px;
        color: #FFFFFF;
        text-decoration: none;
        font-size: 15.6px;
        font-weight:100;
        transition: all 0.4s ease;
    
    }
    .hero-buttons a:hover{
        background-color: #FFFFFF;
        color: #B6771D;
        transform: scale(1.1) ;
    }
/* <!-- ==================== À propos  ==================== --> */
  #a-propos{
    width: 100%;
    height: 100vh;
    
     background-image: linear-gradient(140deg,
    #7B542F 0%,
    #B6771D 50%,
    #FFCF71 100%);
  }
  .à-propos {
    padding: 7rem 2rem 2rem 2rem;
    font-family:'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #291603;
    text-align: center;
  }
  .apropos-text{
   font-family:  'Arial Narrow', Arial, sans-serif;
   line-height: 1.65rem;
   color: #FFFFFF;
   text-align: center;
   margin-bottom: 5rem;
  }
  .apropos-cards {
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: #291603;
    list-style-position: inside;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; 
        
  }
  .apropos-cards .card-1 {
    border: 2px solid ;
    border-radius: 50px; 
    line-height: 1.65rem;
    width: 475px;
    height: 200px;
    background-color: rgba(4, 11, 112,0.20);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.4s ease;
  }
  .card-1:hover{
    transform: scale(1.1) ;
  }
  .card-2:hover{
    transform: scale(1.1);
  }
  .apropos-cards .card-1 ul {
    width: 354px;
    height: 154;
    text-align: center;
    margin: 0 auto;
    
  }

  .apropos-cards .card-2 {
    border: 2px solid #291603;
    border-radius: 50px;
    line-height: 1.65rem;
    width: 475px;
    height: 200px;
    background-color: rgba(4, 11, 112,0.20);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
    transition: all 0.4s ease;
  }
  .apropos-cards .card-2 ul {
    padding: 0.7rem;
  }

  /* <!-- ==================== Projets ==================== --> */



#projets-section {
    width: 100%;
    min-height: 100vh;
    padding: 40px 20px;
    background-image: linear-gradient(140deg,
        #7B542F 0%,
        #B6771D 50%,
        #FFCF71 100%);
}

.mes-projets {
   
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 60px;
     font-family:'Arial Narrow', Arial, sans-serif;
}

.mes-projets h1 {
    font-size: 2.5rem;
    color: #291603;
    font-weight: bold;
}

.projets-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
}

.projets-cards-1 {
    width: 90%;
    max-width: 700px;
    position: relative;
    border-radius: 20px;
    padding: 21px 40px 21px 160px;
    background-color: rgba(123, 84, 47, 0.6);
    display: flex;
    align-items: center;
    min-height: 182px;
    align-self: flex-end;
    transition: all 0.3s ease;
}
.projets-cards-1:hover{
    background-color: #29160387;
    transform: translateX(-5px) translateY(5px);
}

.projets-img1 {
    position: absolute;
    left: -7%;
    top: 1%;
}

.projets-img1 img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.projets-cards-1 p {
    text-align: left;
    color: white;
    line-height: 1.6;
    font-size: 0.95rem;
    margin: 0;
    text-align: center;
}

.projets-cards-2 {
    width: 90%;
    max-width: 700px;
    position: relative;
    border-radius: 20px;
    padding: 21px 160px 21px 40px;
    background-color: rgba(123, 84, 47, 0.6);
    display: flex;
    align-items: center;
    min-height: 182px;
    align-self: flex-start;
    transition: all 0.3s ease;
}
.projets-cards-2:hover{
    background-color: #29160387;
    transform: translateX(5px) translateY(-5px);
}

.projets-img2 {
    position: absolute;
    right: -7%;
    top: 1%;
}

.projets-img2 img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.projets-cards-2 p {
    text-align: left;
    color: white;
    line-height: 1.6;
    font-size: 0.95rem;
    margin: 0;
    text-align: center;
}
 /* <!-- ==================== Contact ==================== --> */
 #Contact-section {
     width: 100%;
    height: 100vh;
   
     background-image: linear-gradient(140deg,
    #7B542F 0%,
    #B6771D 50%,
    #FFCF71 100%);
   
 }

 .content {
      padding: 7rem 2rem 1rem 2rem;
    font-family:'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #291603;
    text-align: center;
 }
 .contact-texte {
   font-family:  'Arial Narrow', Arial, sans-serif;
   color: #FFFFFF;
   text-align: center;
   line-height: 28.2px;
   margin-bottom: 1.5rem;
 }
 .contact-info-section {
  text-align: center;
  padding: 0;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
.info-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.info-card {
  background-color: rgba(123, 84, 47, 0.6);
  border: 2px solid #291603;
  border-radius: 20px;
  padding: 0.5rem;
  width: 300px;
  min-height: 20px;
  text-align: center;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.info-card .icon {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.info-card .text h3 {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  color: #291603;
  font-family:'Arial Narrow', Arial, sans-serif;
}

.info-card .text p {
  font-size: 0.95rem;
  color: #f1f1f1;
  line-height: 1.4rem;
}
 .conact-form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 12px;
    
 }
 p {
    font-family: 'Arial Narrow', Arial, sans-serif;
 }
 .conact-form input{
    padding: 10px 12px;
    border-radius: 45px;
    border: 0 solid ;
}

.textarea {
    padding: 10px 12px;
    border-radius: 12px;
    border: 0 solid ;
    width: 480px;
    height: 108px;
  }

 .buttons input[type="submit"] {
  margin-left: 66%;
  background-color: #291603;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 16px;
  margin-top: -1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.buttons input[type="submit"]:hover {
     background-color: #FFFFFF;
        color: #B6771D;
        transform: translateY(-8px);
}

 
/* <!-- ==================== Footer ==================== --> */
  footer {
            background: #291603;
            color: rgba(255, 255, 255, 0.6);
            text-align: center;
            padding: 3rem;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }

        footer p {
            margin-bottom: 0.5rem;
            font-size: 0.95rem;
        }
 /* <!-- ==================== teste ==================== --> */
  @media (max-width: 768px) {
    nav {
    position: fixed;
     height: 3.5rem;
     top: -100%;
     width:50%;
     height:100%;
     margin-left: 50%;
     background-color: #291603ef;
     transition: left .4s ease-in-out;
    }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }
  label {
    display: block;
  }
  input[type="checkbox"]:checked + nav {
    top: 4.4rem;
    right: 0;
    transition: left .4s ease-in-out;
  }
  .à-propos {
    padding: 1rem ;
    padding-top: 4rem;
  }
  .projets-cards {
    grid-template-columns: 1fr; 
    gap: 5rem;
  }

  .apropos-cards {
    flex-direction: column;
    
  }
  .apropos-text {
    margin-bottom: 1rem;
    font-size: 10px;
    line-height: 1rem;
    padding-left: 40px;
    padding-right:40px ;
  }
  .apropos-cards .card-1 {
    width: 400px;
    height: 200px;
    margin-bottom: -1rem;
  }
  .apropos-cards .card-2{
    width: 400px;
    height: 200px;
  }

  .hero-buttons a {
    padding: 0.5rem 1rem;
    font-size: 14px;
  }
  .textarea {
    width: 360px;
    height: 108px;
  }
   .info-cards {
   gap: 0.5rem;
  }
  
  .info-card {
    width: 32%;
  }

}
